extends ../layout.jade


block content
	h1 Play that sweet music.

	div
		select(id="songSelect")
			option(value="supermario") Super Mario
			option(value="for_elise") Für Elise
		button(id="chooseSong" onclick="getSong();") Download song

	div 
		input(type="number", id="vision" name="vision" placeholder="Note vision (default 2)")
	div
		input(type="number", id="NoOfIterations" name="NoOfIterations" placeholder="Number of iterations (default 100)")
		input(type="checkbox" id="Order2" checked)
		label(for="Order2") Markov Chain of Order 2
	div
		input(type="text" id="seed" placeholder="Seed")
		button(id="iterate" type="button" onclick="iteration();" disabled) Iterate

	div
		select(id="instrumentDrop" onchange="instrumental();")
	div
		form(oninput="amount.value=speedInput.value")
			input(type="range" id="speedInput" name="speedInput" value ="500" min="0" max="1000")
			output(name="amount" for="speedInput") 500
			label(for="speedInput") Tempo (bpm)
	
	div
		button(id="play" onclick="play();" disabled) Play

