extends ../layout.jade


block content
	h1 Play that sweet music.

	input(type="text", id="NoOfIterations" name="NoOfIterations")
	button(type="button" onclick="iteration();") Iterate

	button(id="play" onclick="play();") Play
